<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MediaPlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="style/Theme.FristProjectVideo" >

        <activity android:name=".ui.record.RecordActivity">

        </activity>
        <activity android:name=".ui.search.SearchActivity">

        </activity>

        <activity
            android:name=".ui.videodetail.VideoDetailActivity"
            android:launchMode="singleTask"
            android:exported="false" >
        </activity>

        <!--AndroidAutoSize库的配置-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"/>
    </application>

</manifest>