<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
 Android 11及以上需要声明查询的Intent,通过 <queries> 声明后，
    系统会允许你的应用检测到支持这些 Intent 的应用（例如系统相册、第三方文件管理器等）
    -->
    <queries>

        <!-- 指定可以从相册选中图片 -->
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <!-- 允许用户从任何支持图片选择的应用中选择内容（如文件管理器、相册等 -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FristProjectVideo"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.camera.CameraActivity">

        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Agreement.AgreementActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.about.AboutMEActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.is.mediaPlayer.ui.record.RecordActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.collect.CollectActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.editinfo.EditInfoActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".ui.resetpwd.ResetpwdActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".ui.pushsettings.PushSettingsActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".ui.playsettings.PlaySettingsActivity"
            android:exported="false" >

        </activity>

        <!--AndroidAutoSize库的配置-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data android:name="design_height_in_dp" />
    </application>

</manifest>