<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ui.record.RecordActivity">

        </activity>
        <activity android:name=".ui.search.SearchActivity">

        </activity>
        <activity
            android:name=".ui.videodetail.VideoDetailActivity"
            android:launchMode="singleTask"
            android:exported="false" />
    </application>

</manifest>